name: Create Package

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      artifact-name:
        required: false
        type: string
        default: ""

jobs:
  package:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python-version }}

      - name: Check package
        run: |
          pip install check-manifest build
          check-manifest
          python -m build --check

      - name: Create package
        run: python -m build

      - name: Verify package
        run: |
          pip install twine
          twine check dist/*

      - name: Upload artifact
        if: ${{ inputs.artifact-name != '' }}
        uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.artifact-name }}
          path: dist/
