name: Install pkg

# see: https://help.github.com/en/actions/reference/events-that-trigger-workflows
on: # Trigger the workflow on push or pull request, but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pkg-check:
    uses: ./.github/workflows/_create-pkg.yml
    with:
      python-version: "3.9"

  dry-run:
    needs: pkg-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.9"
      - name: Dry run
        run: python setup.py install --dry-run --user
